// Fixes for the password reset page.

.mw-special-PasswordReset #mw-content-text .mw-htmlform-ooui-wrapper {
	background: $page-content-form-bg;
	border-radius: 0.25cm;
	padding: 2rem;
	overflow: hidden;

	form > :first-child {
		margin-bottom: 2rem;
		border-bottom: 1px dotted darken($page-content-form-bg, 20%);
		padding-bottom: 1rem;

		.oo-ui-fieldLayout-header {
			display: none;
		}
	}

	.oo-ui-fieldLayout-messages > * {
		margin-top: 1rem !important;
	}

	.oo-ui-labelElement {
		margin: 0;

		+ * {
			margin-top: 1rem;
		}

		.oo-ui-fieldLayout-header {
			margin-bottom: 0.5rem;

			label {
				text-transform: uppercase;
				opacity: 0.5;
				font-weight: 500;
				letter-spacing: 1px;
				margin: 0;
			}
		}
	}

	.oo-ui-inputWidget {

		input {
			border-color: white;
			padding-left: 1rem;
			padding-right: 1rem;
			border-radius: 1cm;
		}
	}

	.oo-ui-fieldLayout-messages {
		padding: 0;

		.oo-ui-flaggedElement-error {
			background: $theme-secondary;
			padding: 1rem;
			margin: 0;
			font-weight: normal;
			color: darken($theme-secondary, 30%);
			border-radius: 0.25cm;
			padding-left: 3rem;

			&::before {
				font-family: "Font Awesome 5 Free";
				content: "\f071";
				font-weight: bold;
				position: absolute;
				top: 1rem;
				left: 1rem;
			}

			.oo-ui-iconElement-icon {
				display: none;
			}

			.oo-ui-labelElement-label {
				margin-left: 0;
			}
		}
	}

	.oo-ui-widget > :last-child {
		margin-bottom: 0;
	}

	.mw-htmlform-submit-buttons {
		background: darken($page-content-form-bg, 2%);
		margin: 2rem -2rem -2rem !important;
		padding: 2rem;
		width: calc(100% + 4rem);

		span.mw-htmlform-submit {
			display: block;
		}

		button {
			display: block;
			background: $theme-primary;
			border-color: $theme-primary;
			border-radius: 1cm;
			width: 100%;
			box-shadow: none;

			&:hover {
				background: $theme-secondary;
				border-color: $theme-secondary;
			}
		}
	}
}

@media only screen and (max-width: $page-content-width) {

	.mw-special-PasswordReset #mw-content-text .mw-htmlform-ooui-wrapper {
		padding: 1rem;

		form > :first-child {
			margin-bottom: 1rem;
		}

		.mw-htmlform-submit-buttons {
			margin: 1rem -1rem -1rem !important;
			padding: 1rem;
			width: calc(100% + 2rem);
		}
	}
}
