// Common font variables.

$page-content-heading-font: 'Open Sans', 'Roboto', sans-serif;

$page-content-font-size-h1: 3rem;
$page-content-font-size-h2: 2.2rem;
$page-content-font-size-h3: 1.7rem;
$page-content-font-size-h4: 1.4rem;
$page-content-font-size-h5: 1.3rem;
$page-content-font-size-h6: 1.1rem;
